<!DOCTYPE html>
<html lang="en" ng-app="workshop">
<head>
	<meta charset="UTF-8">
	<title>Final Angular app</title>
	<link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="AppCtrl">
	<header>
		Fancy video player
	</header>
	<div class="container">
		<div class="left" ng-controller="ListCtrl">
			<header>
				Your videos
			</header>

			<input type="text" name="search" placeholder="Filter list" ng-model="search"/>

			<ul>
				<li ng-repeat="element in elements" ng-click="onClick(element)">{{element.title}}</li>
			</ul>
		</div>
		<div class="right" ng-controller="VideoCtrl">

			<section>
				<header>You are viewing video: </header>
				<video-player record="record"></video-player>
			</section>

		</div>
	</div>

	<div class="message-box" ng-show="messageContent">
		<p>{{messageContent}}</p>
		<p><button ng-click="messageContent = ''">Close</button>
	</div>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript" src="js/build.js"></script>

</body>
</html>
